.WorkersSignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.WorkersSignup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.WorkersSignup-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
}

.WorkersSignup-form h2 {
    text-align: center;
    font-size: 22px;
    color: #111;
}

.WorkersSignup-form p {
    text-align: center;
    font-size: 15px;
}

.WorkersSignup-form p span {
    color: #ec6d13;
    cursor: pointer;
}

.WorkersSignup-form form input {
    padding: 12px 15px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 15px;
}

.WorkersSignup-form form input:focus {
    outline: none;
    border: 1px solid #ec6d13;
}

.otp-section {
    position: relative;
    display: flex;
    align-items: center;
}

.otp-section input {
    width: 100%;
    padding-right: 100px;
}

.otp-section button {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    background: #fff;
    color: #ec6d13;
    border: 1px solid #ec6d13;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.input-field1 {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field1 input {
    width: 100%;
    padding-right: 80px;
}

.input-field1 .hide-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px 12px;
    background-color: #ec6d13;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

.WorkersSignup-form form h5 {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    color: #111;
}

.WorkersSignup-form form h5 input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #ec6d13;
}

.WorkersSignup-form form h5 span {
    color: #ec6d13;
    cursor: pointer;
}

.submit-button {
    padding: 12px 0;
    background-color: #ec6d13;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 650px) {
    .WorkersSignup-form form {
        gap: 18px;
        max-width: 95%;
    }

    .otp-section input {
        padding-right: 85px;
    }

    .otp-section button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .input-field1 input {
        padding-right: 70px;
    }

    .input-field1 .hide-show {
        padding: 5px 10px;
        font-size: 12px;
    }
}