.ListedWorker {
    margin-top: 90px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
    align-items: self-start;
    gap: 20px;
}

.ListedWorker h3 {
    font-size: 22px;
    font-weight: 600;
}

.location {
    display: flex;
    justify-content: space-between;
}

.location-text {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-text p span {
    font-weight: 600;
}

.category-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ec6d1368;
    color: #ec6d13;
    padding: 8px 24px 8px 16px;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
}

.select-wrapper {
    display: inline-block;
    position: relative;
}

.select-wrapper::after {
    content: "▾";
    font-size: 14px;
    background-color: #ec6d1368;
    color: #ec6d13;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.category-select:focus {
    outline: none;
    background-color: #ec6d1368;
    color: #ec6d13;
}

.caret-icon {
    color: #ec6d13;
}

.ListedWorker-filter svg {
    font-size: 25px;
}

.ListedWorker-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

@media (max-width:650px) {
    .location {
        flex-direction: column;
        gap: 20px;
    }

    .location-text {
        width: 100%;
    }

    .ListedWorker-card {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}