.worker-profile {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 70px;

}

@media (max-width:650px) {
    .worker-profile {
        grid-template-columns: 1fr;
        margin-top: 80px;
        margin-bottom: 40px;
        gap: 20px;
    }
}