.CustomerLogin-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 50px;
}

.CustomerLogin-text-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CustomerLogin-text-form h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.CustomerLogin-text-form h5 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #111111c1;
}

.CustomerLogin-text-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CustomerLogin-text-form form input {
    padding: 8px 50px;
    background-color: #11111138;
    border: 1px solid #11111138;
}

.CustomerLogin-text-form form input:focus {
    outline: none;
    color: black;
}

.CustomerLogin-img {
    width: 25%;
}

.CustomerLogin-img img {
    width: 100%;
}

.input-field-for-login1 {
    display: flex;
}

.input-field1 .hide_show {
    padding: 8px 25px;
    border-bottom: 1px solid #ec6d13;
    border-top: 1px solid #ec6d13;
    border-right: 1px solid #ec6d13;
    text-align: center;
    background-color: #ec6d13;
    margin-left: -10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.input-field1 p {
    padding: 5px;
}

.login-button {
    padding: 10px;
    background-color: #ec6d13;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.CustomerLogin-text-form form p {
    text-align: center;
}

.CustomerLogin-text-form form p span {
    color: #ec6d13;
    cursor: pointer;
}

/* ---------------------- */
/* ✅ Responsive Styles   */
/* ---------------------- */

@media (max-width: 650px) {
    .CustomerLogin-content {
        flex-direction: column;
        margin: 70px 18px;
        gap: 70px;
    }

    .CustomerLogin-img {
        display: none !important;
    }

    .CustomerLogin-text-form h1 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .CustomerLogin-text-form form {
        gap: 35px;
    }

    .CustomerLogin-text-form form input {
        padding: 8px 40px;
    }

    .CustomerLogin-text-form form p {
        text-align: center;
    }

    .CustomerLogin-text-form form p span {
        font-weight: 500;
    }
}